.name {
/*  display: inline-block !important;
  margin: 20px 0;
  padding: 15px;
  border-radius: 2px;*/
}

.activity_item {
  display: inline-block;
  padding-bottom: 1em;  
  width: 100%;
}

/*.activity_item:nth-child(2n+0) {
    background: #e2e2e2;
}*/



.activity_item :nth-child(5n+0) {
    background: #fdfd96;
    width: 15%;
    vertical-align: middle;
}

.activity_item :nth-child(5n+1) {
    background: #ff6961;
    width: 15%;
    vertical-align: middle;
}

.activity_item :nth-child(5n+2) {
    background: #aec6cf;
    /*width: 20%;*/
    vertical-align: middle;
}

.activity_item :nth-child(5n+3) {
    background: #ffd1dc;
    /*width: 20%;*/
    vertical-align: middle;
}

.activity_item :nth-child(5n+4) {
    background: #77dd77;
    /*width: 20%;*/
    vertical-align: middle;
}

.activity_item *{
  display: inline-block;
  padding: 0px 2em 0px 2em;
  margin: 0em 1px 2px 1px;
}

.proc_name {

}

.window_title {

}
.start_time {

}
.duration {

}

